*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
}

.container{
    background-color: rgb(136, 190, 248);
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.item{
    width: 150px;
    height: 150px;
    padding: 2rem;
    border: 1px solid black;
    background-color: blanchedalmond;
}

.item:hover{
    background-color: rgb(253, 216, 172);
}

#rotateX:hover{
    transform: rotateX(45deg);
}

#rotateY:hover{
    transform: rotateY(45deg);
}

#rotateZ:hover{
    transform: rotateZ(45deg);
}

#translateX:hover{
    transform: translateX(100px);
}

#translateY:hover{
    transform: translateY(100px);
}

#translateZ:hover{
    transform: perspective(200px) translateZ(-100px);
}

#scaleX:hover{
    transform: scaleX(1.5);
}
#scaleY:hover{
    transform: scaleY(1.5);
}
#scaleZ:hover{
    transform: perspective(200px) rotateY(30deg) scale(1);
}
